.hide{
  display: none;
}

.show{
  display: inline;
}

#dropdown {
  position: relative;
  display: inline-block;
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: #1A2125;
  min-width: 100%;
  z-index: 1;
  max-height: 300px;
  overflow-y:auto;
}
