#dropdown-content {
  display: none;
  position: absolute;
  background-color: #1A2125;
  min-width: 100%;
  z-index: 1;
  max-height: 300px;
  overflow-y:auto;
}

#dropdown-content a:hover {background-color: #ddd;}

#dropdown:hover #dropdown-content {display: block;}
